.table-product-image {
    object-fit: cover;
    width: 130px;
    height: 180px;
    min-width: 130px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    left: 200px;
    display: none;
    z-index: 999;
    background-color: white;
    margin-left: 20px;
}

footer .footer-logo img {
    max-width: 290px;
}

.site-header.style-2 .header-info-bar .logo-header img {
    height: 90px;
    max-width: 245px;
}

h2 {
    text-transform: uppercase;
}

@media (max-width: 575.98px) {
    footer .footer-logo img {
        max-width: 350px;
    }
    .w-sm-100 {
        width: 100%;
    }
    .table-product-name img {
        width: 60px;
    }
}
